body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  margin: 0px;
  padding: 0px;
}

a { 
  text-decoration: none;
  color: #0077a7;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: calc(100% - 2rem);
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

li {
  flex: 1 1 20%;
  background: hsl(0 0% 95% / 0.5);
  border-radius: 1rem;
  padding: 0.5rem;
}

li:hover {
  background: hsl(0 0% 90%);
}

li > a {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  text-align: center;
  text-decoration: none;
}

li > a > img {
  width: 8em;
}

h3 {
  margin: 1em;
}

.github-ribbon {
  position: absolute;
  width: 150px;
  height: 150px;
  overflow: hidden;
  z-index: 99999;
  right: 0px;
  top: 0px;
}

.github-ribbon a {
  display: inline-block;
  width: 200px;
  overflow: hidden;
  padding: 6px 0px;
  text-align: center;
  transform: rotate(45deg);
  text-decoration: none;
  color: rgb(255, 255, 255);
  position: inherit;
  font: 700 13px "Helvetica Neue", Helvetica, Arial, sans-serif;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 3px 0px;
  background-color: rgb(116, 117, 116);
  right: -40px;
  top: 45px;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #222;
  }
  h1,h2,h3 {
    color: #e6e6e6;
  }
  a {
    color: #00b7ff;
  }
  li {
    background: hsl(0 0% 0% / 0.3);
  }
  li:hover {
    background: hsl(0 0% 0%);
  }
}

@media screen and ( min-width: 850px ) and ( max-height: 768px ) {
  ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
  }
}

@media screen and (min-height: 1000px ) {
  body {
    font-size: 1.5em;
  }
}
